main{
    margin-top: 5%;
    margin-bottom: 15%;
}
.imagem{
    max-width: 80%;
    height: 15rem;
    

}
.card{
    padding: 0 0 0 0;
    margin-right: 3px;
    margin-top: 3px;
    width: 15em;
    align-items: center;
    border-radius: 2rem;
    
}
.cardb{
    margin-top: 0.4rem;
    padding-bottom: 1rem;
    text-align: center;
    width: 15em;
    align-items: center;
    border-radius: 2rem;
    background-color: white;
    
}
.formp{
    margin-top: 1rem;
    font-weight: bold;  
}

.tamanhos {
    text-align: start;
}
.formp{
    margin-top: 1rem;
    font-weight: bold;
    
}

h3  {
    padding-top: 30px;
    padding-bottom: 10px;
}

.produtos{
    justify-content: center;
    padding: 0;
    margin: 0;
   
}

.botoes{
    max-width: 80%;
    margin: 3%;
    padding: 0%;
    justify-content: center;
    margin-bottom: 3%;
}
.botao{
    border-radius: 50pc;
    background-color: #e00000;
    color: whitesmoke;
    max-width: 12vw;
    max-width: 100%;
    border: none
}

.botao:hover{
    background-color: #6d0000;
    color: white;
}

.botaoc{
    border-radius: 50pc;
    background-color: #E2E2E2;
    color:black;
    max-width: 12vw;
    max-width: 100%;
}
.botaoc:hover{
    background-color: #4F4F4F;
    color: whitesmoke;
}
.etiqueta{
    width: 10%;
}
.botaoc2 {
    background-color: #363636;
    border-radius: 5pc;

}
.botaoc2:hover {
    background-color: 	#696969 ;
   

}
.botaov{
    background-color: mediumseagreen;
    border-radius: 50pc;
    color: whitesmoke;
    
}
.botaov:hover{
    background-color: seagreen;
    border-radius: 50pc;
    color: whitesmoke;
}

.botao-carrinho{
    width: 80%;
    align-self: start;
    margin-left: 0%;
    padding: 0%;
}

.aumentar:hover{
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.06);
}

h3 {
    font-family: roboto;
    font-weight: bold;
}