.carrosel {
    max-height: 30vh;
    margin-top: 3vh;
}

.div-carrousel {
    justify-content: center;
    align-items: center;
}

.div-frete {
    justify-content: center;
    align-items: center;
    background: white;
    color: #6d0000;
}

.div-frete, .div-descontos h5 {
    text-align: center;
}

.div-descontos {
    justify-content: center;
    align-items: center;
    background: white;
}


.botao-car {
    background-color: #8D0000;
}

.imagem {
    justify-content: center;
    align-items: center;
}

h3, {
    text-align: center;
    color: black;
    
}

p {
    text-align: center;
    color: #676c70;
    margin-bottom: 3vh;
}

a {
    text-decoration: none;
}

.prod-index {
    margin-top: 15rem;
    justify-content: center;
}
.titulo{
    margin-top: 6rem;
    color: black;
}
h6{
    color: whitesmoke;
}

h2 {
    font-family: roboto;
    font-weight: bold;
}


